@model IEnumerable<WebApplication1.Controllers.WeatherForecast>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-2">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/Assets/sunny1" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@item.Date</h5>
                    <h5 class="card-subtitle">@item.TemperatureC - @item.TemperatureF</h5>
                    <p class="card-text">@item.Summary</p>
                </div>
            </div>
        </div>
    }
</div>
